.login-model{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    display: none;
}


.auth-container p{
    margin-top: 2vh;
    width: 40%;
}

.close-btn{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: transparent;
    font-size: 1.85rem;
    cursor: pointer;
}

.auth-disc{
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    background-color: var(--primary);
}

.login-head{
    z-index: 2000;
    position: absolute;
    top: 35%;
    left: 5%;
    color: var(--white);
    padding: 0 2rem;
    pointer-events: none;
}

.auth-form-wrapper{
    background-color: var(--white);
    height: 100%;
    width: 50%;
    padding: 4vh 2vw;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-active{
    display: flex !important;
}