.login-model{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    display: none;
}


.auth-container p{
    margin-top: 2vh;
    width: 100%;
}

.close-btn{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: transparent;
    font-size: 1.85rem;
    cursor: pointer;
}

.auth-disc{
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    background-color: var(--primary);
}

.login-head{
    z-index: 2000;
    position: absolute;
    top: 35%;
    left: 5%;
    color: var(--white);
    padding: 0 2rem;
    pointer-events: none;
}
.login-head p{
    width: 40%;
}
.login-btn{
    margin-top: 2vh;
    width: 20vw;
}

.auth-form-wrapper{
    background-color: var(--white);
    height: 100%;
    width: 50%;
    padding: 4vh 2vw;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-active{
    display: flex !important;
}

@media (min-width: 769px) and (max-width: 1124px) {


  .auth-container {
    width: 100%;
    max-width: 720px;   
    height: auto;
    min-height: fit-content;
    flex-direction: column;
    border-radius: 1.25rem;
  }

 
  .auth-disc {
    display: none !important;
    
  }



  .auth-form-wrapper {
    width: 100% !important;
    height: 100%;
    padding: 3vh 3vw;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth-form-wrapper > div {
    width: 100%;
    max-width: 420px;
  }


 
  .auth-form-wrapper button {
    width: 100%;
    margin-top: 1rem;
  }
}



@media (max-width: 768px) {

 


  /* HIDE PINK PANEL */
  .auth-disc {
    display: none !important;
  }

  .auth-container{
    background-color: white;
    width: 90vw;
    height: auto;
  }

  .auth-container p {
    width: 100% !important;
  }

  /* FORM FULL SCREEN */
  .auth-form-wrapper {
    width: 100% !important;
    height: 100% !important;
    padding: 2rem 1.5rem;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .auth-form-wrapper > div {
    width: 100%;
    max-width: 520px; 
  }

  /* Close button */
  .close-btn {
    position: absolute;
    top: 2%;
    right: 4%;
    font-size: 1.6rem;
    z-index: 10;
  }

  /* Buttons full width */
  .auth-form-wrapper button {
    width: 100%;
    margin-top: 1rem;
  }
}
