.login-model{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    display: none;
}


.auth-container p{
    margin-top: 2vh;
    width: 40%;
}

.close-btn{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: transparent;
    font-size: 1.85rem;
    cursor: pointer;
}

.auth-image{
    width: 50%;
    height: 100%;
    
}
.auth-image img{
    object-fit: cover;
    height: 100%;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    filter: blur(1px);

    width: 100%;
}

.login-head{
    z-index: 2000;
    position: absolute;
    top: 35%;
    left: 5%;
}

.auth-form-wrapper{
    background-color: ;
    height: 100%;
    width: 40%;
    padding: 4vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}