.register-model{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    display: none;
}

.close-btn-register{
    position: absolute;
    top:  6%;
    right: 23%;
    background-color: transparent;
    font-size: 1.85rem;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .close-btn-register{
    position: absolute;
    top: 19%;
    right: 22%;
    background-color: transparent;
    font-size: 1.85rem;
    cursor: pointer;
    }
}

.register-active{
    display: flex !important;
}