.register-model{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    display: none;
}
#register-div-close{
    
    position: relative;
}
.close-btn-register{
    position: absolute;
    top:  2%;
    right: 5%;
    background-color: transparent;
    font-size: 1.85rem;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .close-btn-register{
    position: absolute;
    top: 3%;
    right:5%;
    background-color: transparent;
    font-size: 1.85rem;
    cursor: pointer;
    }
}

.register-active{
    display: flex !important;
}


@media (max-width: 768px) {

  /* Form */
  .register-model form.grid {
    display: flex !important;
    flex-direction: column !important;
    gap: 1.25rem;
  }

  .register-model .form-group {
    width: 70vw !important;
    height: 5vh;
  }
     /* HIDE PINK PANEL  */
  .register-model .flex > div:first-child {
    display: none !important;
    
  }
  .close-btn-register{
    top:1%;
    right: 3%;
  }
 





 

 
}
